<html>
<head>
    <title>DropBy</title>
    <link href="css/DropByCSS.css" rel="stylesheet">
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/mapPage.js"></script>

    <div class="top">
    <button class="openbtn" >☰</button> 
    <div id="mySidepanel" class="sidepanel">
      <a class="closebtn" >×</a>
      <a href="home">Home Page</a>
      <a href="list">Events List</a>
      <a href="map">View Map</a>
      <a href="create">Create Event</a>
      <a href="myEvents">Your Events</a>
    </div>
    <header><h2> Create new events </h2></header>
    </div>

<div class="enter">
  <div id="textForm">
  <form>
  Event Type:
  <select>
    <option value= "eventType">Select an Event Type</option>
    <option value="food">Food</option>
    <option value="study">Study</option>
    <option value="show">Show</option>
    <option value="guestspeaker">Guest Speaker</option>
  </select>
  <br><br>
  Event Title:
  <input type="text" name="Title"><br><br>
  Location:
  <input type="text" name="location"><br><br>
  Date:
  <input type="date" name="eventDate"><br><br>
  Time:
  <input type="time" name="eventTime"><br><br>
  Price:
  <input type="text" name="price"><br><br>
  Description:
  <input type="text" name="description"><br><br>
  <center><form>
    <a class="button" href="/myEvents">Post!</a>
</form></center>
</form>
</div>
</div>

</body>
</html>
