<html>
<head>
    <title>DropBy</title>
    <link href="css/DropByCSS.css" rel="stylesheet">
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<div id="one">
    <center><h2> Create new events </h2></center>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/mapPage.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <button class="openbtn" >☰</button> 
    <div id="mySidepanel" class="sidepanel">
      <a class="closebtn" >×</a>
      <a href="/">Home Page</a>
      <a href="list">Events List</a>
      <a href="map">View Map</a>
      <a href="create">Create Event</a>
      <a href="myEvents">Your Events</a>
        </div>
</div>

<div id="two">
  <center><form>
  Event Type:<br>
  <select>
    <option value="food">Food</option>
    <option value="study">Study</option>
    <option value="show">Show</option>
    <option value="guestspeaker">Guest Speaker</option>
  </select>
  <br>
  Event Title<br>
  <input type="text" name="Title"><br>
  Location:<br>
  <input type="text" name="location"><br>
  Date:<br>
  <input type="text" name="date"><br>
  Time:<br>
  <input type="text" name="time"><br>
  Price:<br>
  <input type="text" name="price"><br>
  Description:<br>
  <input type="text" name="description"><br>
  <center><form>
    <input type=button 
    value="Post!"
    onClick="window.location.pathname = '/myEvents'">
</form></center>
</form></center>
</div>
</body>
</html>
