<html>
{{> headers}}
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/navBar.js"></script>
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-135674458-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    <div class="top">
      
    {{!-- <img src= "./images/Logo.png" style="width:50px;height:50px;"> --}}

    <button class="openbtn" >☰</button> 
    <div id="mySidepanel" class="sidepanel">
      <a class="closebtn" >×</a>
      <a href="home">Home Page</a>
      <a href="list">Events List View_A</a>
      <a href="create">Create Event</a>
      <a href="myEvents">My Events</a>
      <a href="bVersion">Events List View_B</a>
    </div>

    <img src= "./images/Logo.png" style="width:50px;height:50px;">

    <header><h2> Create new events </h2></header>
    </div>

<div class="enter">
  <div id="textForm">

  <br><br>

  <center><form action= "/createEvent" method="post">
  Event Type:
  <select required name = "eventType">
    <option value= "">Select an Event Type</option>
    <option value="food">Food</option>
    <option value="study">Study</option>
    <option value="show">Show</option>
    <option value="guestSpeaker">Guest Speaker</option>
  </select><br><br>
  Event Title:
  <input type="text" name="eventTitle" required><br><br>
  Location:
  <select required name = "location">
    <option value= "">Select a Location</option>
    <option value="ERC">ERC</option>
    <option value="Marshall">Warren</option>
    <option value="Muir">Muir</option>
    <option value="Revelle">Revelle</option>
    <option value="Sixth">Sixth</option>
    <option value="Warren">Warren</option>
  </select><br><br>
  Date:
  <input type="date" name="date" required><br><br>
  Time:
  <input type="time" name="time" required><br><br>
  Price:
  <input type="text" name="price" required><br><br>
  Description:
  <input type="text" name="description" required><br><br>

  <input type="submit">
  </form></center>

</div>
</div>

</body>
</html>
