<html>
<head>
    <title>DropBy</title>
    <link href="css/DropByCSS.css" rel="stylesheet">
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="home">
    
    <div id="homeHeader">
    <header>
        <h2>Home Page</h2>
    </header>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/homePage.js"></script>

    <center><form>
        <a class="button" href="/list">List View</a>
    </form></center>

    <center><form>
        <a class="button" href="/map">Map View</a>
    </form></center>

    <center><form>
        <a class="button" href="/create">Create New Event</a>
    </form></center>

    <center><form>
        <a class="button" href="/myEvents">My Events</a>
    </form></center>
  
    <center><form>
        <a class="button" href="/">Logout</a>
    </form></center>
    </div>

</body>
</html>
