<html>
<head>
    <title>DropBy</title>
    <link href="css/DropByCSS.css" rel="stylesheet">
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<div id="one">
    <center><h2>Home Page</h2></center>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/homePage.js"></script>

<div id="two">
    <center><form>
    <a class="button" href="/list">List View</a>
</form></center>
</div>
<div id="three">
    <center><form>
    <a class="button" href="/map">Map View</a>
</form></center>
</div>
<div id="four">
    <center><form>
    <a class="button" href="/create">Create New Event</a>
</form></center>
</div>
<div id="five">
    <center><form>
    <a class="button" href="/myEvents">My Events</a>
</form></center>
</div>
<div id="six">
    <center><form>
    <a class="button" href="/">Logout</a>
</form></center>
</body>
</html>
