<html>
{{!-- <head>
    <title>DropBy</title>
    <link href="css/DropByCSS.css" rel="stylesheet">
</head> --}}
{{> headers}}
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="home">
    
    <div id="homeHeader">
    <header>
        <h2>Home Page</h2>
    </header>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/homePage.js"></script>

    <div class="homeButtons">
    <center>
        <button type="button"><a href="/list">Events List View_A/</a></button>
    </center>

    <center>
        <button type="button"><a href="/create">Create New Event</a></button>
    </center>

    <center>
        <button type="button"><a href="/myEvents">My Events</a></button>
    </center>

    <center>
        <button type="button"><a href="/bVersion">Events List View_B</a></button>
    </center>

    <center>
        <button type="button"><a href="/">Logout</a></button>
    </center>
    </div>
    </div>

</body>
</html>
