<html>
{{> headers}}
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="home">
    
    <div id="homeHeader">
    <header>
         <img src= "./images/Logo.png" style="width:60px;height:60px;">
        <h2>Home Page</h2>
    </header>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/homePage.js"></script>

    <div class="homeButtons">
    <center>
        <button type="button"><a href="/list">List View</a></button>
    </center>

    <center>
        <button type="button"><a href="/create">Create New Event</a></button>
    </center>

    <center>
        <button type="button"><a href="/myEvents">My Events</a></button>
    </center>

    <center>
        <button type="button"><a href="/bVersion">bVersion</a></button>
    </center>

    <center>
        <button type="button"><a href="/">Logout</a></button>
    </center>
    </div>
    </div>

</body>
</html>
