<html>
{{> headers}}
<body style="background-color: #F3E8EE;">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="home">
    
    <div id="homeHeader">
        <img src= "./images/DropByLogo.png" style="width:180px;height:180px;">
        {{!-- <h2>Home Page</h2> --}}
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/homePage.js"></script>
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-135674458-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    <div class="homeButtons">
    <center>
        <a class="btn btn-primary" href="/list" role="button">Events List View_A</a>
        {{!-- <button type="button"><a href="/list">Events List View_A</a></button> --}}
    </center>

    <center>
        <a class="btn btn-primary" href="/create" role="button">Create New Events</a>
        {{!-- <button type="button"><a href="/create">Create New Event</a></button> --}}
    </center>

    <center>
        <a class="btn btn-primary" href="/myEvents" role="button">My Events</a>
        {{!-- <button type="button"><a href="/myEvents">My Events</a></button> --}}
    </center>

    <center>
        <a class="btn btn-primary" href="/bVersion" role="button">Events List View_B</a>
        {{!-- <button type="button"><a href="/bVersion">Events List View_B</a></button> --}}
    </center>

    <center>
        <a class="btn btn-primary" href="/" role="button">Logout</a>
        {{!-- <button type="button"><a href="/">Logout</a></button> --}}
    </center>
    </div>
    </div>

</body>
</html>
