<html>
    <head>
        <title>DropBy</title>
        <link href="css/DropByCSS.css" rel="stylesheet">
        {{> facebook}}
	    <script src="/js/facebook.js"></script>
    </head>

    <script src="https://code.jquery.com/jquery.js"></script>
    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <div class="login">
            <div id="homeHeader">
            <header><h2>Login Page</h2></header>
            </div>
            <center>
            <form>
                Username:<br>
                <input type="text" name="username" required><br>
                Password:<br>
                <input type="password" name="pwd" required><br>
            </form>
            </center>

            <center>
                <a class="button" href="/home">Login!</a>
            </center>

            <center>
                <p class="facebookLogin">Or login through Facebook <br>
					<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" href="/home"> </fb:login-button>
                    
			</p>
            </center>



        </div>
    </body>
</html>