<html>
    <head>
        <title>DropBy</title>
        <link href="css/DropByCSS.css" rel="stylesheet">
    </head>

    <script src="https://code.jquery.com/jquery.js"></script>
    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <div id="loginBoxes">
            <center><h2>Login Page</h2></center>
            <center>
            <form>
                Username:<br>
                <input type="text" name="username"><br>
                Password:<br>
                <input type="password" name="pwd"><br>
            </form>
            </center>

            <center><form>
                <input type=button 
                value="Login!"
                onClick="window.location.pathname = '/home'">
            </form></center>
        </div>
    </body>
</html>