<html>
<head>
    <title>DropBy</title>
    <link href="css/DropByCSS.css" rel="stylesheet">
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<div id="one">
    <center><h2>List View</h2></center>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/mapPage.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <form>
    <input type=button 
    value="+"
    onClick="window.location.pathname = '/create'">
    </form>

    <button class="openbtn" >☰</button>
    <div id="mySidepanel" class="sidepanel">
      <a class="closebtn" >×</a>
      <a href="/">Home Page</a>
      <a href="list">Events List</a>
      <a href="map">View Map</a>
      <a href="create">Create Event</a>
      <a href="myEvents">Your Events</a>
    </div>
  
    <form>
    <input type=button 
    value="Refresh"
    onClick="window.location.pathname = '/list'">
    </form>

    <div class="dropdown">
        <button class="dropbtn">Filter</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="food">food</a>
            <a href="study">Study</a>
            <a href="show">Show</a>
            <a href="guestspeaker">Guest Speaker</a>
        </div>
    </div>
</div>

<div id="two">
  <p> Future spot for the List View</p>
</div>
</body>
</html>
