<html>
<head>
    <title>DropBy</title>
    <link href="css/DropByCSS.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<div id="one">
    <div class="top">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/navBar.js"></script>

    <a href="create">
        <i class="far fa-plus-square fa-3x"></i>
    </a>

    <button class="openbtn" >☰</button> 
    <div id="mySidepanel" class="sidepanel">
      <a class="closebtn" >×</a>
      <a href="home">Home Page</a>
      <a href="list">Events List</a>
      <a href="map">View Map</a>
      <a href="create">Create Event</a>
      <a href="myEvents">Your Events</a>
    </div>

    <header><h2>Map View</h2></header>

    </div>
</div>

    <div id="googleMaps" class="profile">
        <div id="map" style="max-height: 600px;"></div>
    </div> 

    <link rel="stylesheet" href="/css/DropByCSS.css">
    <script src="js/googleMaps.js"></script>
    {{> googleMaps}}

</body>
</html>
