<html>
<head>
    <title>DropBy</title>
    <link href="css/DropByCSS.css" rel="stylesheet">
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<div id="one">
    <center><h2>Map View</h2></center>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/mapPage.js"></script>

    <form>
    <input type=button 
    value="+"
    onClick="window.location.pathname = '/create'">
    </form>

    <button class="openbtn" >☰</button> 
    <div id="mySidepanel" class="sidepanel">
      <a class="closebtn" >×</a>
      <a href="/">Home Page</a>
      <a href="list">Events List</a>
      <a href="map">View Map</a>
      <a href="create">Create Event</a>
      <a href="myEvents">Your Events</a>
    </div>
  
    <form>
    <input type=button 
    value="Refresh"
    onClick="window.location.pathname = '/map'">
    </form>

    <div class="dropdown">
        <button class="dropbtn">Filter</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="food">food</a>
            <a href="study">Study</a>
            <a href="show">Show</a>
            <a href="guestspeaker">Guest Speaker</a>
        </div>
    </div>
</div>

<div id="two">
    <img src="https://i.imgur.com/5q1VsQ6.png" alt="Map" class="img" style="height: 500px;">
</div>
</body>
</html>
