<html>
<head>
    <title>DropBy</title>
    <link href="css/DropByCSS.css" rel="stylesheet">
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<div id="one">
    <center><h2> My Events </h2></center>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/mapPage.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <form>
    <input type=button 
    value="+"
    onClick="window.location.pathname = '/create'">
    </form>

    <button class="openbtn" >☰</button>
    <div id="mySidepanel" class="sidepanel">
      <a class="closebtn" >×</a>
      <a href="/">Home Page</a>
      <a href="list">Events List</a>
      <a href="map">View Map</a>
      <a href="create">Create Event</a>
      <a href="myEvents">Your Events</a>
    </div>

    <center><select>
    <option value="filter">Select Filter</option>
    <option value="food">Food</option>
    <option value="study">Study</option>
    <option value="show">Show</option>
    <option value="guestspeaker">Guest Speaker</option>
    </select></center>
</div>

<div id="two">
  <p> Future spot for list of user created events </p>
</div>
</body>
</html>
