/*CSS for the dropdown menu*/
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: block;
    text-align: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {
    display: block;
  }

/* CSS for the collapsible side panel */
  body {
    font-family: "Lato", sans-serif;
  }
  
  .sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: inline-block;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
  }
  
  .openbtn:hover {
    background-color:#444;
  }

  header {
    /* padding-left: 10px;
    padding-right: 10px; */
    font-size: 25px;
    color: black;
    text-align: center;
    /* background-color: white; */
  }

  #homeHeader {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    text-align: center;
    background-color: lavender;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
  }

  #two {
    display: block;
    text-align: center;
  }


  .top {
    background-color: black;
  }

  .top i {
    float: right;
    color: white;
    padding-right: 3px;
    padding-top: 1px;
  }

  .middle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .middle i {
    display: inline-block;
  } 

  .middle select {
    display: inline-block;
  }

  .container {
    border: 5px solid black;
    border-radius: 7px;
  }

  .eventText {
    padding: 20px;
  }

  /* .home body{
    background-color: #e6e6fa;
    padding-bottom: 80px;
  }

  .login body{
    background-color: lavender;
    padding-bottom: 80px;
  } */

  .enter {
    text-align: center;
  }

  #textForm {
    display: inline-block;
    text-align: left;
  }

.homeButtons a {
  background-color: #B7CECE;
  border: none;
  border-radius: 15px;
  padding: 14px 10px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
  width: 200px;
}

.top img {
  display: inline-block;
  margin-left: 45%;
}

.box {
  padding-top: 25px;
}

.box input[type = "text"],.box input[type = "password"] {
  border: 0;
  background: none;
  display: block;
  margin: auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus {
  width: 280px;
  border-color: #233A4D;
}

.box input[type = "submit"] {
  border: 0;
  background: #233A4D;
  display: block;
  margin: auto;
  text-align: center;
  border: 2px solid #233A4D;
  padding: 14px 40px;
  outline: none;
  color: whitesmoke;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

/* .box input[type = "submit"]:hover {
  background: #233A4D;
} */


